.content-wrapper {
  padding: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#dog-header, #get-dogs, #messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

#errors {
  color: red;
}
